<h1>Edit a Song: </h1>

<form action="/songs/<%= @song.id %>" method="POST">
<input type="hidden" id="hidden" name="_method" value="patch">
<label>Name: </label>
<input type="text" id="song_name" name="song[name]" value="<%= @song.name %>"><br><br>
<label>Artist: </label>
<input type="text" id="song_artist" name="song[artist]" value="<%= @song.artist %>"><br><br>
<label>Lyrics: </label>
<textarea id="song_lyrics" name="song[lyrics]"><%= @song.lyrics %></textarea><br><br>
<label>Genre: </label>
<input type="text" id="song_genre" name="song[genre]" value="<%= @song.genre %>"><br><br>
<label>Vibe: </label>
<input type="text" id="song_vibe" name="song[vibe]" value="<%= @song.vibe %>"><br><br>
<label>Mood: </label>
<input type="text" id="song_mood" name="song[mood]" value="<%= @song.mood %>"><br><br>
<label>Bpm: </label>
<input type="text" id="song_bpm" name="song[bpm]" value="<%= @song.bpm %>"><br><br>
<label>Instruments: </label>
<textarea id="song_instruments" name="song[instruments]"><%= @song.instruments %></textarea><br><br>
<label>Progress: </label><br>
<% if @song.progress == "Completed!" %>
    <input type="radio" id="in_progress" name="song[progress]" value="In Progress...">
    <label for="in_progress">In Progress...</label><br>
    <input type="radio" id="completed" name="song[progress]" value="Completed!" checked>
    <label for="completed">Completed!</label><br><br>
    <input type="submit" value="Update Song">
<% else %>
    <input type="radio" id="in_progress" name="song[progress]" value="In Progress..."checked>
    <label for="in_progress">In Progress...</label><br>
    <input type="radio" id="completed" name="song[progress]" value="Completed!">
    <label for="completed">Completed!</label><br><br>
    <input type="submit" value="Update Song">
<% end  %>

</form>