<h1>All Songs:</h1>

<ul>
<% @songs.each do |song| %>
<a href="/songs/<%=song.id%>"><li><strong><%= song.name %></strong> - <%= song.artist %> - <%= song.genre %></li></a>
<% end %>
</ul>


<a href=<%="/songs/new"%>>New Song</a>